.reveal pre {
    box-shadow: none;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

#gp-logo {
  position: relative;
  top: 10pt;
  left: 10pt;
  z-index: inherit !important;
}